/_src/.sculpin/
/.idea/
/_src/app/cache/*
/_src/app/config/sculpin_kernel_*.yml
/_src/app/config/sculpin_site_*.yml
/_src/app/logs/*
/_src/output_prod/*
/_src/output_dev/*
/_src/source/components/
/_src/vendor

