/_src/.sculpin/
/.idea/
/_src/app/cache/*
/_src/app/config/sculpin_kernel_*.yml
/_src/app/config/sculpin_site_*.yml
/_src/app/logs/*
/_src/output_*
/_src/output_*/*
/_src/source/components/
/_src/vendor

